<div class="container">
    
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome to my Awesome Site</h1>
        <p class="lead text-muted">
            This is Sample site for OneVerify
            You can check the flow and how to use OneVerify.
            The sample demonstrate the old way of Login/Registration 
            and combination with OneVerify
        </p>
        <p>
          <a href="#" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Get Started</a>
        </p>
      </div>
    </div>
  </section>
</div>


{{>loginmodal}}

<script>
    onLoad((_w,_c)=>{
        
    })
</script>